@media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}

#post{
    margin: 10px;
    padding:2px 6px 2px 6px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}

.comments{
    margin-top: 5%;
    margin-left: 20px;
}

.comment{
    border: 1px solid white;
    background-color: white;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}
.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}

.comment span{
    margin-left: 10px;
    color: rgb(184, 183, 183);
}

.comment p{
    color: #696969;
}

h1, h4{
    color: black;
    font-weight: bold;
}
label{
    color: rgb(212, 208, 208);
}

#align-form{
    margin-top: 20px;
}

.form-control{
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#checkbx{
    background-color: black;
}

#darker img{
    margin-right: 15px;
    position: static;
}

div form input{
    background-color: black;
    border: 1px solid black;
    border-radius: 12px;
}

form{
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}