body{
    /*
    background-color: #1a1a1a
    */
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(../Images/purple-mountains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.quote-box{
    background-color: pink;
    box-shadow: 20px 20px 50px #181818  ;

}

#quote{
    color: rgb(78, 78, 78);
}

#author{
    color: black;
}

.MainPageQuote h2{
    color: #424874;
}

.MainPageQuote h3{
    color: #424874;
}
.MainPageSiteName h1{
    color: #F4EEFF;
}

.MainPageCreativity h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16vh;
    text-align: center;
    background: -webkit-linear-gradient(rgb(110, 171, 92), rgb(178, 27, 135));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .MainPagePossibilities h1{
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16vh;
        text-align: center;
        background: -webkit-linear-gradient(rgb(27, 136, 138), rgb(164, 186, 23));
       
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
.CreativityWords h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 9vh;
    color: white;
}
.CreativityWords h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 4vh;
    color: white;
}
.PossibilitiesWords h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 9vh;
    color: white;
}
.PossibilitiesWords h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 4vh;
    color: white;
}

.Footer h1{
    color: black;
}
footer{
    background-color: rgb(49, 49, 49);
    color: rgb(86, 116, 146);
}
footer h1{
    color: #e7e7e7;

}
.col-lg-4 div span a{
    color:rgb(100, 146, 182);
}
/*-- navigation bar --*/
.row div p{
    color:rgb(100, 146, 182);
}
.row div span{
    color:rgb(100, 146, 182);
}
.col-lg-4 p{
    color:rgb(100, 146, 182);

}
.navbar .navbar-nav .nav-link{
    color: #ffb19b;

}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    background-color: #555;
    color: white;
    color: #ffb19b;
}

.quarter-circle {
    background-color:  white;
}

/*-- Burger-collapse animation --*/
.bar1, .bar2, .bar3 {
    background-color: #ffb19b;
}
#regForm {
    background: #525151;
}

.line-box {
    background: #4b4b4b;
}

.line {
    background: #DCD6F7;
}

button {
    background: rgb(48, 48, 48);
    color: rgb(200, 200, 200);
}

button:hover {
    background: #F4EEFF;
    color: #1b1b1b;
}

/*-- DarkThemeSwitcher --*/
.theme {
    background: #222222;
}