body{
    /*
    background-color: #1a1a1a
    */
    background-image: linear-gradient(rgba(4,9,30,0.75),rgba(4,9,30,0.75)),url(../Images/purple-mountains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.quote-box{
    background-color: rgb(38, 38, 38);
    box-shadow: 5px 5px 50px #1f1f1f  ;

}

#quote{
/*

color: rgb(78, 78, 78);
*/
color: white;
}

#author{
    color: white;
}

.MainPageQuote h2{
    color: #424874;
}

.MainPageQuote h3{
    color: #424874;
}
.MainPageSiteName h1{
    color: #F4EEFF;
}

.MainPageCreativity h1{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16vh;
    text-align: center;
    background: -webkit-linear-gradient(rgb(110, 171, 92), rgb(178, 27, 135));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .MainPagePossibilities h1{
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16vh;
        text-align: center;
        background: -webkit-linear-gradient(rgb(27, 136, 138), rgb(164, 186, 23));
       
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
.CreativityWords h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 9vh;
    color: white;
}
.CreativityWords h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 4vh;
    color: white;
}
.PossibilitiesWords h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 9vh;
    color: white;
}
.PossibilitiesWords h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 4vh;
    color: white;
}

.Footer h1{
    color: black;
}
footer{
    background-color: rgb(49, 49, 49);
    color: rgb(86, 116, 146);
}
footer h1{
    color: #e7e7e7;

}
.creators-footer{
    color:rgb(100, 146, 182);
    
}
.col-lg-4 div span a{
    color:rgb(100, 146, 182);
}
/*-- navigation bar --*/
.row div p{
    color:rgb(100, 146, 182);
}
.row div span{
    color:rgb(100, 146, 182);
}
.col-lg-4 p{
    color:rgb(100, 146, 182);
    
}
.TextC{
    color:rgb(28, 41, 50);

}
.navbar-nav{
    background-color: rgb(38, 38, 38);
    box-shadow: 0px 5px 10px rgb(54, 54, 54);
    border: 2px solid rgb(75, 75, 75);
}
.navbar .navbar-nav .nav-link{
    color: #ffffff;
    background-color: rgb(38, 38, 38);
}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    color: rgb(38, 38, 38);
    background-color: #ffffff;

}
nav div ul li a{
    border: 1px solid #ffffff;
}
tr{
    border-radius: 10px;
    background-color: rgb(38, 38, 38);
    color: white;
}
.articleTable{
    border-radius: 10px;
}
.articleLink{
    color: white;
}
.articleComments{
    color: white;
}
.quarter-circle {
    border:none;
    background-color:  white;
}

/*-- Burger-collapse animation --*/
.bar1, .bar2, .bar3 {
    background-color: rgb(38, 38, 38);
}
#regForm {
    background: #525151;
}

.line-box {
    background: #4b4b4b;
}

.line {
    background: #DCD6F7;
}

button {
    background-color: rgb(38, 38, 38);
    color: white;
}

button:hover {
    background: #ffffff;
    color: rgb(38,38,38);
}

/*-- DarkThemeSwitcher --*/
.theme {
    background: #222222;
}