body{
    background: -webkit-linear-gradient(right, #A6B1E1,#DCD6F7);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.NotesBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.NoteBlock a{
    width: 30vh;
    height: 30vh;
    background: #424874;
    cursor: pointer;
    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: 'Spline Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 6vh;
}

.NoteBlock a:hover::before,
.NoteBlock a:hover::after {
    transition: 0.5s;
}

.NoteBlock a:hover {
    border: 2px solid #424874;
    transition: 0.5s;
    font-weight: 500;
}

.TempAddButton button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    height: 30vh;
    cursor: pointer;
    padding-bottom: 7vh;
    font-size: 25vh;
}

.add
{
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border: 1px dashed grey;
  margin: 10px 0;
}

.add:hover
{
  cursor: pointer;
  background-color: #360581;
}