body{
    /*
    background-color: #1a1a1a
    */
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(../Images/purple-mountains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.NotesBody{
    background: #3e3333;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    background: -webkit-linear-gradient(rgb(133, 214, 215), rgb(179, 191, 104));

}

.NoteBlock a{
    background: #c55555;
    color: #f4eeff;
    background: -webkit-linear-gradient(rgb(121, 221, 222), rgb(82, 174, 157));

}

.NoteBlock a:hover::before,
.NoteBlock a:hover::after {
    background: #f4eeff;
}

.NoteBlock a:hover {
    border: 2px solid #424874;
    color: #f4eeff;
    background-color: #242424;
}

.TempAddButton button{
    background: -webkit-linear-gradient(rgb(95, 169, 170), rgb(100, 211, 190));

    border: 2px solid #424874;
    color: #424874;
}
.TempAddButton button:hover::before,
.TempAddButton button:hover::after {
    background:#fff;
}

.TempAddButton button:hover {
    background-color: #242424;
    color: #733adb;
    background: -webkit-linear-gradient(rgb(243, 11, 11), rgb(244, 11, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.navbar .navbar-nav .nav-link{
    color: #ffb19b;

}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    background-color: #555;
    color: white;
    color: #ffb19b;
}

.quarter-circle {
    background-color:  white;
}

/*-- Burger-collapse animation --*/
.bar1, .bar2, .bar3 {
    background-color: #ffb19b;
}

.line-box {
    background: #4b4b4b;
}

.line {
    background: #DCD6F7;
}

button {
    background: rgb(48, 48, 48);
    color: rgb(200, 200, 200);
}

button:hover {
    background: #F4EEFF;
    color: #1b1b1b;
}

/*-- DarkThemeSwitcher --*/
.theme {
    background: #222222;
}