body{
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)),url(../Images/purple-mountains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.NotesBody{
    background: #efefef;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.NoteBlock a{
    background: #A6B1E1;
    color: white;
}

.NoteBlock a:hover{
    background-color: #efefef;
    color: #424874;
}

.TempAddButton button{
    background: #efefef;
    border: 2px solid #424874;
    color: #424874;
}

.TempAddButton button:hover::before,
.TempAddButton button:hover::after {
    background: #fff;
    transition: 0.2s;
}

.TempAddButton button:hover {
    transition: 0.5s;
    background-color: #424874;
    color: #F4EEFF;
}
.quarter-circle {
    background: #282828;
}

/*-- Burger-collapse animation --*/
.bar1, .bar2, .bar3 {
    background-color: white;
}

.navbar .navbar-nav .nav-link{
    color: black;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    background-color:#383838;
    color:white;
}


.line-box {
    background: #BCBCBC;
}

.line {
    background: #A6B1E1;
}

button {
    background: rgb(220,220,220);
    color: rgb(120,120,120);
}

button:hover {
    background: #424874;
    color: #ffffff;
}

/*-- DarkThemeSwitcher --*/
.theme {
    background: #ffffff;
}