
.ProfileBody{   
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
background-color: #fff;
background: #fff;
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)),url(../Images/purple-mountains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.ChangeButton input{
    background-color: #fff;
    border: 1px solid black;
}
.quarter-circle {
    background: #282828;
}


.navbar .navbar-nav .nav-link{
    color: black;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    background-color:#383838;
    color:white;
}
.navbar-nav{
    background-color: white;
    border: 2px solid rgb(138, 138, 138);
    box-shadow: 0px 5px 10px rgb(175, 175, 175);
}
/*-- Burger-collapse animation --*/
.bar1, .bar2, .bar3 {
    background-color: white;
}

.InputBar input{
    border: 1px solid black;
    color:darkgray;
}
.BlackB{
    background-color: black;
    border: 2px solid white;
}
.WhiteB{
    background-color: white;
    border: 2px solid black;
}
.NoteBlock{
    background: #424874; 
    color: white;
}


.NoteBlock:hover::before,
.NoteBlock:hover::after {
  background: #fff;
}

.NoteBlock:hover {
    border: 2px solid #424874;
  color: #424874;
  background-color: #efefef;
}



.TempAddButton button{ 
    background: #efefef;  
    border: 2px solid #424874;
    color: #424874;
}
.TempAddButton button:hover::before,
.TempAddButton button:hover::after {
  background: #fff;
}

.TempAddButton button:hover {
  background-color: #424874;
  color: #F4EEFF;
}

.line-box {
    background: #BCBCBC;
}



button {
    background: rgb(220,220,220);
    color: rgb(120,120,120);
}

button:hover {
    background: #424874;
    color: #ffffff;
}

/*-- DarkThemeSwitcher --*/
.theme {
    background: #ffffff;
}