
.ProfileBody{   
    background: #efefef;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
body{
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)),url(../Images/purple-mountains.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.ProfilePicture {
    background-color:#A6B1E1;
}
.ChangeButton input{
    background-color: #fff;
    border: 1px solid black;
}

.InputBar{
    background-color: #A6B1E1;
}
.InputBar input{
    border: 1px solid black;
    color:darkgray;
}
.BlackB{
    background-color: black;
    border: 2px solid white;
}
.WhiteB{
    background-color: white;
    border: 2px solid black;
}
.NoteBlock{
    background: #424874; 
    color: white;
}


.NoteBlock:hover::before,
.NoteBlock:hover::after {
  background: #fff;
}

.NoteBlock:hover {
    border: 2px solid #424874;
  color: #424874;
  background-color: #efefef;
}



.TempAddButton button{ 
    background: #efefef;  
    border: 2px solid #424874;
    color: #424874;
}
.TempAddButton button:hover::before,
.TempAddButton button:hover::after {
  background: #fff;
}

.TempAddButton button:hover {
  background-color: #424874;
  color: #F4EEFF;
}
