body{
    /*
    background-color: #1a1a1a
    */
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(../Images/purple-mountains.jpg);

     background-position: center;
     background-size: cover;
     position: relative;
 }
 .quarter-circle {
    background-color:  white;
}

/*-- Burger-collapse animation --*/
.bar1, .bar2, .bar3 {
    background-color: #ffb19b;
}
.spaceI{
    color: #F4EEFF;
}
.ProfileBody{   
    background:#000000;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.ProfileH1{
    color:white;
}
.ProfileBar{
    background: -webkit-linear-gradient(rgb(234, 146, 105),rgb(240, 119, 82));
}
.PText{
    color: #F4EEFF;
}
.ProfileBar a{
color: black;
}
.ProfilePicture {
    background-color:#464646;
}
.ChangeButton input{
    background-color: #aeaeae;
    border: 1px solid black;
}

.InputBar{
    background-color: #464646;
}
.InputBar input{
    border: 1px solid black;
    color:rgb(31, 31, 31);
    background-color: #aeaeae;
}
.BlackB{
    background-color: black;
    border: 2px solid white;
}
.WhiteB{
    background-color: white;
    border: 2px solid black;
}
.NoteBlock{
    background: #424874; 
    color: white;
}

.InputBar h1 {
    color: white;
}

.navbar .navbar-nav .nav-link{
    color: #ffb19b;

}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    background-color: #555;
    color: white;
    color: #ffb19b;
}












.NoteBlock:hover::before,
.NoteBlock:hover::after {
  background: #fff;
}

.NoteBlock:hover {
    border: 2px solid #424874;
  color: #424874;
  background-color: #efefef;
}



.TempAddButton button{ 
    background: #efefef;  
    border: 2px solid #424874;
    color: #424874;
}
.TempAddButton button:hover::before,
.TempAddButton button:hover::after {
  background: #fff;
}

.TempAddButton button:hover {
  background-color: #424874;
  color: #F4EEFF;
}

.line-box {
    background: #4b4b4b;
}

.line {
    background: #DCD6F7;
}

button {
    background: rgb(48, 48, 48);
    color: rgb(200, 200, 200);
}

button:hover {
    background: #F4EEFF;
    color: #1b1b1b;
}

/*-- DarkThemeSwitcher --*/
.theme {
    background: #222222;
}