body{
    /*
    background-color: #1a1a1a
    */
    background-image: linear-gradient(rgba(4,9,30,0.75),rgba(4,9,30,0.75)),url(../Images/purple-mountains.jpg);

     background-position: center;
     background-size: cover;
     position: relative;
 }
 .quarter-circle {
    border:none;
    background-color:  white;
}
.ProfileName h2{
    color :white;
}
/*-- Burger-collapse animation --*/
.bar1, .bar2, .bar3 {
    background-color: rgb(38, 38, 38);
}
.ProfileLogoutButton{
background-color: rgb(38, 38, 38);
color: white;
}
.spaceI{
    color: #F4EEFF;
}
.ProfileBody{   
    background:rgb(38, 38, 38);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.ProfileH1{
    color:white;
}
.ProfileBar{
    background: -webkit-linear-gradient(rgb(26, 29, 67), rgb(64, 47, 103));
}
.PText{
    color: #F4EEFF;
}
.ProfileBar a{
color: white;
}
.ProfilePicture img{
    
    display: flex;
    justify-content: center;
}
.ChangeButton input{
    background-color: #aeaeae;
    border: 1px solid black;
}

.InputBar{
    background-color: #464646;
}
.InputBar input{
    border: 1px solid black;
    color:rgb(31, 31, 31);
    background-color: #aeaeae;
}
.BlackB{
    background-color: black;
    border: 2px solid white;
}
.WhiteB{
    background-color: white;
    border: 2px solid black;
}
.NoteBlock{
    background: #424874; 
    color: white;
}

.InputBar h1 {
    color: white;
}


.navbar-nav{
    background-color: rgb(38, 38, 38);
    box-shadow: 0px 5px 10px rgb(54, 54, 54);
    border: 2px solid rgb(75, 75, 75);
}
.navbar .navbar-nav .nav-link{
    color: #ffffff;
    background-color: rgb(38, 38, 38);
}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    color: rgb(38, 38, 38);
    background-color: #ffffff;

}
nav div ul li a{
    border: 1px solid #ffffff;
}



.Footer h1{
    color: black;
}
footer{
    background-color: rgb(49, 49, 49);
    color: rgb(86, 116, 146);
}
footer h1{
    color: #e7e7e7;

}
.creators-footer{
    color:rgb(100, 146, 182);
    
}
.col-lg-4 div span a{
    color:rgb(100, 146, 182);
}
/*-- navigation bar --*/
.row div p{
    color:rgb(100, 146, 182);
}
.row div span{
    color:rgb(100, 146, 182);
}
.col-lg-4 p{
    color:rgb(100, 146, 182);
    
}
.TextC{
    color:rgb(28, 41, 50);

}







.NoteBlock:hover::before,
.NoteBlock:hover::after {
  background: #fff;
}

.NoteBlock:hover {
    border: 2px solid #424874;
  color: #424874;
  background-color: #efefef;
}



.TempAddButton button{ 
    background: #efefef;  
    border: 2px solid #424874;
    color: #424874;
}
.TempAddButton button:hover::before,
.TempAddButton button:hover::after {
  background: #fff;
}

.TempAddButton button:hover {
  background-color: #424874;
  color: #F4EEFF;
}

.line-box {
    background: #4b4b4b;
}

.line {
    background: #DCD6F7;
}

button {
    background: rgb(48, 48, 48);
    color: rgb(200, 200, 200);
}

button:hover {
    background: #F4EEFF;
    color: #1b1b1b;
}

/*-- DarkThemeSwitcher --*/
.theme {
    background: #222222;
}