<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/MainPage.css">
    <link rel="stylesheet" href="/Registration.css" id="mainCss">
    <link rel="stylesheet" href="/Registrationdark.css" title="theme">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--font-family: 'Spline Sans', sans-serif;-->
</head>
<body>
<div class="header">
    <nav class="navbar navbar-expand-lg navbar h-auto sticky-top">
        <div class="navbar-collapse">
            <ul class="navbar-nav mx-auto" id="toggler">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notes">Notes</a>
                </li>
            </ul>
        </div>
        <div class="navbar-brand quarter-circle">
            <div class="container" onclick="BurgerAnim(this, toggler)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
    </nav>
</div>

<div class="form2">
    <form id="regForm">
        <h2 class="bg-gradient-warning text-dark text-center font-weight-bold pt-5">Some Kind of Problem</h2>
        <span>Text of error: </span>
        <span><%= error %></span><br><br>
        <label>
            <a href="javascript:history.back()" class="btn btn-light">Go back</a>
        </label>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- link to the JQuery-->
<script src="../Javascript/MainPage.js" charcet="UTF-8"></script>
<script src="../Javascript/LightDarkThemeSwitcher.js" charcet="UTF-8"></script>
<script src="../Javascript/midterm.js"></script>
<!-- link to the JavaScript -->
</body>
</html>