<table>
    {{#each user}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{time}}</td>
            <td>{{password}}</td>
        </tr>
    {{/each}}
</table>