<form action="/user/edit:username" method="POST">
    <input name="username" id="username" value="<%= user.username %>">
    <input name="email" id="email" value="<%= user.email %>">
    <input name="password" id="password" value="<%= user.password %>">
    <input type="submit">
</form>