<form action="/user/edit/:name" method="POST">
    <input name="name" value="<%= user.name %>">
    <input name="email" value="<%= user.email %>">
    <input name="password" value="<%= user.password %>">
    <input type="submit">
</form>