<form action="/user/edit/<%= user._id %>" method="POST">
    <input name="name" value="<%= user.username %>">
    <input name="email" value="<%= user.email %>">
    <input name="password" value="<%= user.password %>">
    <input type="submit">
</form>